html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.box:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.box { display: inline-block; }
/* start commented backslash hack \*/
* html .box { height: 1%; }
.box { display: block; }
/* close commented backslash hack */


body {
  background: black;
  padding: 0;
  margin: 0;
  font-family: Open Sans;
}

div#navbar {
  position: relative;
  z-index: 99999999;
  text-align: right;
  width: 100%;
}

div#navbar .box {
  width: 100%;
  max-width: 1200px;
  height: 78px;
  margin: 20px auto 0;
}

div#logo img {
  float: left;
  width: 100px;
  height: 75px;
}

div#navbar .navigation{
  width: 500px;
  display: inline-block;
  margin-top: 10px;
  float: center;
}

div#navbar nav .nav-item {
  list-style: none;
  float: left;
  text-decoration: none;
  padding-left: 15px;
  width: 25%;
  text-align: center;
}

div#navbar nav .nav-item:hover a{
  color: red;
}
div#navbar nav .nav-item:hover > .dropnav {
  display: block;
}

div#navbar nav .dropnav{
  display: none;
  margin: 0;
  padding: 0;
}

div#navbar nav .nav-item:hover .dropnav a{
  color: white;
}
div#navbar nav .dropnav > .nav-item{
  float: none;
  background-color: #999;
  margin: 0;
  padding: 4px;
  width: 100%;
  border-bottom: 1px solid #333;
}

div#navbar nav .dropnav > .nav-item:hover {
  background: orange;
}

div#navbar a.home {

}

div#navbar a {
  text-decoration: none;
  color: white;
}

div#navbar .dropnav > li > a{
  color: #ddd;
}

div#navbar a.about {

}

div#hero {
  position: relative;
  background-image: url(/image/Cities.jpg);
  background-position: fixed;
  height: 450px;
  width: 100%;
  background-position: 40% 52%
}

div#hero .myButton {
  width: 288px;
text-align: center;
position: absolute;
margin-top: 0;
left: 50%;
top: 50%;
margin-left: -144px;
margin-top: 47px;
  -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Montserrat;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}

}



section#values div.value {
  font-family: Open Sans;
  text-align: center;

}


section .box {
  width:100%;
  max-width: 1020px;
  margin: 0 auto;
  background: #05D7F7;
  display: block;
}

section#values .box{
  background-image: url(/image/background.jpg);
}
section#values .box > div {
  text-align: center;
  width: 33.333333333%;
  float: left;
  height: 600px;
  color: #fff;
  margin: 0;
  border: 1px solid black;
  padding: 0 20px 0 20px;
}

section#values .box > div > h3{
  font-size: 16px;

}
#values .box .value img {
  width: 50%;
}

#values .box .value img:hover {
  width: 100%;
}

section#reason .box > div {

}

div#footer {
  background-image: url(/image/aircraft.jpg);
  height: 150px;
  background-position: 13% 70%;
  text-align: right;
  padding: 20px;
  display: block;
  width: 100%;
  border-width: 2px;
  border-color: black;
  margin: 0;
}

div#footer .box > h2,h3 {
  margin: 0;
  font-family: Montserrat;
  font-size: 16px;
}
div#footer .box {
  max-width: 86%;
  text-align: right;

}
